[Unit]
Description=Lists soundcard devices for use by tidal
Wants=tidal-devices.timer

[Service]
Type=oneshot
User=root

ExecStart=/usr/bin/tidal-devices.sh > /var/tidal/devices.json

[Install]
WantedBy=multi-user.target






