[Unit]
Description=Tidal Connect Service
StartLimitIntervalSec=0

[Service]
Restart=on-failure
User=root
Group=root
RestartSec=5
KillMode=control-group

[Install]
WantedBy=multi-user.target







