[Unit]
Description=Tidal Connect Watchdog service. Stops and starts tidal when amp goes off and on
Wants=tidal-watchdog.timer

[Service]
Type=oneshot
User=root


ExecStart=bash -c 'if [ -d "${device}" ];  then systemctl start tidal;  else systemctl stop tidal;  fi'



[Install]
WantedBy=multi-user.target






