[Unit]
Description=Tidal Connect NAD AMP Watchdog services. Stops and starts tidal when amp goes off and on
Wants=tidal-watchdog.timer

[Service]
Type=oneshot
User=root

ExecStart=/usr/bin/tidal-watchdog.sh

[Install]
WantedBy=multi-user.target






