[Unit]
Description=Tidal Connect Service
ConditionPathExists=/etc/tidal/config.json
ConditionPathExists=/var/tidal/devices.json

[Service]
ExecStart=/usr/bin/tidal.sh
User=root
Group=root
KillMode=control-group

[Install]
WantedBy=multi-user.target







