[Unit]
Description=Calls tidal-watchdog
Requires=tidal-watchdog.service

[Timer]
Unit=tidal-watchdog.service
OnCalendar=*-*-* *:*:0/4
AccuracySec=1s

[Install]
WantedBy=timers.target







