[Unit]
Description=Tidal Connect Service
StartLimitIntervalSec=0

#Requires=sys-devices-platform-scb-fd500000.pcie-pci0000:00-0000:00:00.0-0000:01:00.0-usb1-1\x2d1-1\x2d1.2-1\x2d1.2:1.0-sound-card0-controlC0.device
#PartOf=sys-devices-platform-scb-fd500000.pcie-pci0000:00-0000:00:00.0-0000:01:00.0-usb1-1\x2d1-1\x2d1.2-1\x2d1.2:1.0-sound-card0-controlC0.device
#After=sys-devices-platform-scb-fd500000.pcie-pci0000:00-0000:00:00.0-0000:01:00.0-usb1-1\x2d1-1\x2d1.2-1\x2d1.2:1.0-sound-card0-controlC0.device
#BindsTo=sys-devices-platform-scb-fd500000.pcie-pci0000:00-0000:00:00.0-0000:01:00.0-usb1-1\x2d1-1\x2d1.2-1\x2d1.2:1.0-sound-card0-controlC0.device
#PartOf=sys-devices-platform-scb-fd500000.pcie-pci0000:00-0000:00:00.0-0000:01:00.0-usb1-1\x2d1-1\x2d1.2-1\x2d1.2:1.0-sound-card0-controlC0.device


[Service]
Restart=on-failure
ExecStart=/usr/ifi/ifi-tidal-release/bin/tidal_connect_application \
                                --tc-certificate-path "/usr/ifi/ifi-tidal-release/id_certificate/IfiAudio_ZenStream.dat" \
                                -f "HiTide RasPi Streamer" \
                                --codec-mpegh true \
                                --codec-mqa false \
                                --model-name "HiTide RasPi Streamer" \
                                --disable-app-security false \
                                --disable-web-security false \
                                --enable-mqa-passthrough false \
                                --log-level 3 \
                                --enable-websocket-log "0"

User=root
Group=root
RestartSec=5
KillMode=control-group

[Install]
WantedBy=multi-user.target
#WantedBy=sys-devices-platform-scb-fd500000.pcie-pci0000:00-0000:00:00.0-0000:01:00.0-usb1-1\x2d1-1\x2d1.2-1\x2d1.2:1.0-sound-card0-controlC0.device







